<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">Application Name</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">About</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Contact</a>
      </li>
    </ul>
  </div>
</nav>
<div class="container-fluid p-3">
  <h4 class="grey-color">Angular 2 QuickStart</h4>
  <button class="btn btn-primary">Current User: Test@Test.com</button><br /><br />
  <button class="btn btn-success" (click)="addProduct()">Add Product</button><br /><br />
  <input type="text" class="form-control col-md-2" placeholder="Search" name="search" [(ngModel)]="searchKey"
    (ngModelChange)="searchValueChanged()" /><br />
  <div class="col-md-6 table-border">
    <table class="table">
      <thead>
        <th scope="col"></th>
        <th scope="col">#</th>
        <th scope="col">Product Name</th>
        <th scope="col">
          Product Price
          <i class="fa fa-sort-numeric-asc pointer" aria-hidden="true" (click)="sortPrice(0)" [ngClass]="{'blue': order == 0}"></i>
          <i class="fa fa-sort-numeric-desc pointer" aria-hidden="true" (click)="sortPrice(1)" [ngClass]="{'blue': order == 1}"></i>
        </th>
      </thead>
      <tbody>
        <tr scope="row" *ngFor="let product of productList;let index = index">
          <td>
            <button class="btn btn-primary" *ngIf="!product.edit" (click)="editProduct(index)"><i class="fa fa-pencil-square-o"
                aria-hidden="true"></i></button>
            <button class="btn btn-success" *ngIf="product.edit" (click)="saveProduct(index)"><i class="fa fa-floppy-o"
                aria-hidden="true"></i></button>
            <button class="btn btn-danger" (click)="deleteProduct(index)"><i class="fa fa-trash-o" aria-hidden="true"></i></button>
          </td>
          <th scope="row">{{index + 1}}</th>
          <td *ngIf="!product.edit">{{product.productName}}</td>
          <td *ngIf="product.edit">
            <input type="text" class="form-control" [(ngModel)]="product.productName" required />
          </td>
          <td *ngIf="!product.edit">{{product.productPrice | currency}}</td>
          <td *ngIf="product.edit">
            <input type="number" class="form-control" [(ngModel)]="product.productPrice" required />
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <br><br>
  <hr>
  <p class="grey-color"><i class="fa fa-copyright" aria-hidden="true"></i> 2016 - My ASP.NET Application</p>
</div>
